# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directory
/dist
/build

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac files
.DS_Store

# Upload directory
uploads/*
!uploads/.gitkeep

# Data directory
data/

# Giữ lại tài liệu API
!docs/api-docs.json 